:host
{
  display: flex;
  height: calc(100vh - 70px);
}

.left
{
  flex: 1 0 0;
  background-color: rgba(255, 255, 255 , 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  max-width: 20vw;
}

.right
{
  flex: 1 0 0;
}
