<div class="left">

  <band-card *ngFor="let band of bands | concert: bandsOnly" [band]="band" (onSelectToPlay)="onSelectToPlay($event)"></band-card>

</div>
<div class="right">

  <iframe width="100%" height="315" [src]="videoSource" frameborder="0" allowfullscreen *ngIf="videoSource"></iframe>

  <div class="form" *ngIf="selected">
      <h2>Subscribe {{selected.name}}</h2>
      <div class="input-field col s6">
        <input placeholder="Your name" id="first_name" type="text" class="validate" [(ngModel)]="name" (keyup.enter)="saveName($event)">
        <label for="first_name" class="active">Type your first name</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Your email address" id="email" type="text" class="validate" [(ngModel)]="email" (keyup.enter)="saveName($event)" autocomplete="false">
        <label for="email" class="active">Type your email address</label>
      </div>
      <div>
        <button class="btn">Subscribe</button>
      </div>
  </div>
</div>
